@charset "UTF-8";
/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
html {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select { /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

ul,
li,
h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.logo {
  font-size: 26px;
  font-family: Raleway;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}
.logo__text--header {
  color: #000000;
}
.logo__text--footer {
  color: #ffffff;
}

.nav-container {
  display: flex;
  height: 100%;
  align-items: center;
  margin-left: 93px;
}

.nav-list {
  display: flex;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.nav-list__item:not(:last-child) {
  margin-right: 50px;
}
.nav-list__link {
  display: block;
  padding: 32px 0;
  position: relative;
  color: #212121;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-list__link:hover, .nav-list__link:focus {
  color: #2196f3;
}
.nav-list__link--active {
  color: #2196f3;
}
.nav-list__link--active::after {
  content: "";
  width: 100%;
  height: 4px;
  position: absolute;
  left: 50%;
  top: 77px;
  border-radius: 4px;
  background-color: #2196f3;
  transform: translateX(-50%);
}

.contacts-list {
  display: flex;
  margin-left: auto;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contacts-list--footer {
  flex-direction: column;
  display: flex;
  margin-top: 20px;
}
.contacts-list__item {
  display: flex;
  align-items: center;
}
.contacts-list__item--header:not(:last-child) {
  margin-right: 50px;
}
.contacts-list__item--footer {
  margin-bottom: 9px;
  font-style: normal;
}
.contacts-list__link {
  display: flex;
  align-items: center;
  color: #757575;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-list__link:hover {
  color: #2196f3;
}
.contacts-list__link:focus {
  color: #2196f3;
}
.contacts-list__icon {
  margin-right: 10px;
  fill: #757575;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-list__link:hover .contacts-list__icon {
  fill: #2196f3;
}
.contacts-list__link:focus .contacts-list__icon {
  fill: #2196f3;
}
.contacts-list__link--footer {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-list__link--footer:focus {
  color: #2196f3;
}
.contacts-list__link--footer:hover {
  color: #2196f3;
}
.contacts-list__link--accent {
  color: #ffffff;
}

.hero {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.hero__text {
  width: 696px;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.modal-container {
  margin-top: 30px;
  padding: 0 40px;
  height: 100%;
}

.backdrop {
  display: inline-block;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 101;
  background-color: rgba(0, 0, 0, 0.1);
}
.backdrop--hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 528px;
  height: 581px;
  left: 50%;
  top: 50%;
  opacity: 1;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition-property: transform opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal--hidden {
  opacity: 0;
  transform: translate(-50%, -50%) scale(1.15);
}
.modal__header {
  margin-top: 40px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.modal-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modal-list__item {
  position: relative;
  margin-bottom: 28px;
}
.modal-list__placeholder {
  position: absolute;
  top: -18px;
  left: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}
.modal-list__placeholder--checkbox {
  position: static;
  display: flex;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 4px;
  transition-property: background-color border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-list__input--checkbox:checked ~ .modal-list__placeholder--checkbox {
  background-color: #2196f3;
  border-color: #2196f3;
  background-origin: border-box;
}
.modal-list__icon {
  position: absolute;
  top: 50%;
  left: 0;
  margin-left: 12px;
  transform: translateY(-50%);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-list__input:hover ~ .modal-list__icon, .modal-list__input:focus ~ .modal-list__icon {
  fill: #2196f3;
}
.modal-list__icon--checked {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 0;
  fill: none;
  opacity: 0;
  transform: translateY(-50%);
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-list__input--checkbox:checked ~ .modal-list__icon--checked {
  fill: #ffffff;
  opacity: 1;
}
.modal-list__input {
  width: 448px;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-list__input:hover, .modal-list__input:focus {
  border-color: #2196f3;
  outline: none;
}
.modal-list__input--textarea {
  height: 120px;
  resize: none;
  padding: 12px 16px;
}
.modal-list__input--textarea::-moz-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-list__input--textarea:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-list__input--textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-list__input--checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}
.modal-list__text {
  margin-left: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}
.modal-list__link {
  text-decoration: underline;
  color: #2196f3;
}
.modal-list__label {
  position: relative;
  display: flex;
}
.modal-list__label--policy {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button--modal-btn {
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
  border: none;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button--modal-btn:hover, .button--modal-btn:focus {
  background-color: #188ce8;
}

.modal-close {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 8px;
  margin-top: 8px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.modal-close__icon {
  fill: #212121;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close:hover .modal-close__icon {
  fill: #2196f3;
}

.features {
  display: flex;
}
.features__item {
  width: 270px;
  margin-right: 30px;
}
.features__item:last-child {
  margin-right: 0;
}
.features__icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  height: 120px;
  border-radius: 4px;
  background-color: #f5f4f4;
}
.features__label {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}
.features__text {
  margin-top: 10px;
  color: #757575;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.job {
  display: flex;
  margin-top: 50px;
}
.job__item {
  margin-right: 30px;
  position: relative;
}
.job__item:last-child {
  margin-right: 0;
}
.job__image, .job__link {
  display: block;
}
.job__label-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 70px;
  left: 0;
  bottom: 0;
  background: rgba(47, 48, 58, 0.8);
}
.job__label {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.section--team {
  background-color: #f5f4f4;
}

.team-list {
  display: flex;
  margin-top: 50px;
}
.team-list__item {
  width: 270px;
  margin-right: 30px;
  text-align: center;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-list__item:last-child {
  margin-right: 0;
}
.team-list__image {
  display: block;
}
.team-list__meta {
  padding: 30px 5px 0 5px; /* додадковий відступ всередені картки для імені та посади */
}
.team-list__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #212121;
}
.team-list__position {
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #757575;
}

.socials-list {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  padding: 0 32px 30px 32px;
}
.socials-list--footer {
  display: flex;
  width: 206px;
  padding: 0;
  margin-top: 20px;
}
.socials-list__link {
  display: flex;
  height: 44px;
  width: 44px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: none;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.socials-list__link:hover {
  background-color: #2196f3;
}
.socials-list__link:focus {
  background-color: #2196f3;
  outline: none;
}
.socials-list__link--footer {
  background-color: rgba(255, 255, 255, 0.1);
}
.socials-list__icon {
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.socials-list__link:hover .socials-list__icon {
  fill: #ffffff;
}
.socials-list__link:focus .socials-list__icon {
  fill: #ffffff;
}
.socials-list__icon--footer {
  fill: #ffffff;
}

.social-block {
  margin-top: 12px;
  margin-left: 70px;
}
.social-block__header {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.clients-list {
  display: flex;
  margin-top: 50px;
  justify-content: space-between;
}
.clients-list__link {
  display: flex;
  width: 170px;
  height: 92px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-list__link:hover {
  border-color: #2196f3;
}
.clients-list__link:focus {
  border-color: #2196f3;
  outline: none;
}
.clients-list__icon {
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-list__link:hover .clients-list__icon {
  fill: #2196f3;
}
.clients-list__link:focus .clients-list__icon {
  fill: #2196f3;
}

.footer {
  display: flex;
}

.footer-address {
  display: inline-block;
  width: 231px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  padding: 10px 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: #2196f3;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover {
  background-color: #188ce8;
}
.button__icon--footer {
  margin-left: 10px;
  fill: #ffffff;
}
.button--subscription {
  margin-left: 12px;
}
.button--hero {
  width: 216px;
  margin-top: 30px;
}

.subscription-block {
  display: flex;
  width: 570px;
  flex-direction: column;
  margin-left: 93px;
  margin-top: 12px;
}
.subscription-block__header {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.subscription-form {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  height: 50px;
}
.subscription-form__input {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.subscription-form__input:hover, .subscription-form__input:focus {
  border-color: #2196f3;
}

.filter-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.filter-list__item:not(:last-child) {
  margin-right: 8px;
}
.filter-list__btn {
  padding: 6px 22px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border: none;
  border-radius: 4px;
  background-color: #f5f4f4;
  transition-property: background-color box-shadow color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-list__btn--active {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.filter-list__btn:hover, .filter-list__btn:focus {
  color: #ffffff;
  cursor: pointer;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  outline: none;
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}
.projects-list__container {
  position: relative;
  overflow: hidden;
}
.projects-list__item {
  margin-right: 30px;
  margin-bottom: 30px;
  width: 370px;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.projects-list__item:nth-child(3n+3) {
  margin-right: 0px;
}
.projects-list__item:nth-last-child(-n+3) {
  margin-bottom: 0px;
}
.projects-list__item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.projects-list__link .projects-list__image {
  display: block;
}
.projects-list__description {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.projects-list__overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 24px;
  position: absolute;
  width: 370px;
  height: 294px;
  top: 0;
  left: 0;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.projects-list__item:hover .projects-list__overlay {
  transform: translateY(0);
}
.projects-list__meta {
  border: 1px solid #eeeeee;
  border-top: none;
  padding: 20px 24px;
  overflow: hidden;
}
.projects-list__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}
.projects-list__category {
  margin-top: 4px;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}

body {
  margin: 0 auto;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  color: #212121;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section--features {
  padding-bottom: 0;
}
.section--footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}
.section--hero {
  height: 600px;
  margin: 0 auto;
  max-width: 1600px;
  background-color: #2f303a;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero_bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.header {
  display: flex;
  height: 100%;
  align-items: center;
}

.header-section--portfolio {
  border-bottom: 1px solid #ececec;
}
.header-section--page {
  border-bottom: 1px solid transparent;
}

.section-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
}/*# sourceMappingURL=main.css.map */