@use "./base/_modern-normalize";

@use "./utils/_variables" as *;
@use "./utils/_resets";
@use "./components/_logo";
@use "./components/_nav-block";
@use "./components/_contacts-block";
@use "./components/_hero-section";
@use "./components/_modal";
@use "./components/_features-section";
@use "./components/_job-section";
@use "./components/_team-section";
@use "./components/_socials-list";
@use "./components/_clients-section";
@use "./components/_footer-section";
@use "./components/_button";
@use "./components/_subscription";

@use "./components/_filters-block";
@use "./components/_projects-section";
  
body { 
  margin: 0 auto;

  font-family: Roboto, sans-serif;
  font-size: 14px;
  color: $black-color;
}
.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;


  &--features {
    padding-bottom: 0;
  }
  &--footer {
    padding-top: 60px;
    padding-bottom: 60px;
  
    background-color: $header-footer-color;
  }
  &--hero {
    height: 600px;
    margin: 0 auto;
    max-width: 1600px;
  
    background-color: $header-footer-color;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero_bg.jpg);
  
    background-repeat: no-repeat;
    background-position: center;
    }
}
.header {
  display: flex;
  height: 100%;
  align-items: center;
}
.header-section {
  

  &--portfolio {
    border-bottom: 1px solid #ececec;
  }
  &--page {
    border-bottom: 1px solid transparent;
  }
}
.section-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
}

  
  