@use "../utils/variables" as *;

.button {
  width: 200px;
  padding: 10px 0;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: $white-color;

  cursor: pointer;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: $blue-color;

  @include transition(background-color);

  &:hover,
  &:focus {
    background-color: $button-hover-color;
  }
  &__icon {
    &--footer {
      margin-left: 10px;
      fill: $white-color;
    }
  }
  &--subscription {
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 1199px) {
      margin-top: 20px;
    }
    @media screen and (min-width: 1200px) {
      margin-left: 12px;
    }
  }
  &--hero {
    width: 216px;
    margin-top: 30px;
  }
}
