@use "../utils/variables" as *;

.features {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;


  // @media screen and (max-width: 767px) {
  //   &--margins-reset {
  //       margin-top: -30px;
  //   }
  // }
  // @media screen and (min-width: 768px) {
  //   & {
  //       display: flex;
  //       flex-wrap: wrap;
  //       gap: 30px;
  //   }
  // }
    @media screen and (min-width: 768px) {
      & {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 30px;
    }
  }
  &__item {


    // @media screen and (max-width: 767px) {
    //   & {
    //       margin-top: 30px;
    //   }
    // }
        @media screen and (max-width: 767px) {
      & {
        width: 100%;
      }
    }
        // @media screen and (max-width: 767px) {
    //   & {
    //       margin-top: 30px;
    //   }
    // }
  
    @media screen and (min-width: 768px) {
      & {
        width: 354px;
      }
    }
    &:last-child {
    }
  }
  &__icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;

    border-radius: 4px;
    background-color: $section-color;
  }
  &__label {
    margin-top: 30px;
  
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-align: center;

    // @media screen and (min-width: 768px) {
    //   & {
    //     text-align: left;
    //   }
    // }
  }
  &__text {
    margin-top: 10px;
  
    color: $grey-color;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}