@use "../utils/variables" as *;

.features {
  display: flex;
  flex-direction: column;
  gap: 30px;

  &__item {



    &:last-child {
    }
  }
  &__icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;

    border-radius: 4px;
    background-color: $section-color;
  }
  &__label {
    margin-top: 30px;
  
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-align: center;
  }
  &__text {
    margin-top: 10px;
  
    color: $grey-color;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}