@use "../utils/variables" as *;

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;

  &__text {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $white-color;


    @media screen and (min-width: 768px){
      font-size: 26px;
      width: 360px;
    }
    @media screen and (min-width: 1200px){
      font-size: 44px;
      line-height: 1.36;
      width: 696px;
    }
  }
}