@use "../utils/variables" as *;

.page-header {
  position: relative;
  height: 100%;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.company-logo {
  display: block;
  background-color: $blue-color;
  padding: 10px;
  color: $white-color;
}
.menu-button {
  display: flex;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  z-index: 2;

  &__icon-cross {
    display: none;

    @include transition(fill);

    .menu-button.is-open & {
      display: block;
    }
    .menu-button:hover &,
    .menu-button:focus & {
      fill: $blue-color;
    }
  }
  &__icon-menu {
    @include transition(fill);

    .menu-button.is-open & {
      display: none;
    }
    .menu-button:hover &,
    .menu-button:focus & {
      fill: $blue-color;
    }
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.menu-container {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background-color: $white-color;
  width: 100%;
  height: 100vh;
  z-index: 1;
  padding: 48px 40px;
  overflow: hidden;
  


  @media screen and (max-width: 479px) {
    padding: 40px 15px;
  }

  &.is-open {
    display: flex;

    gap: 30px;
    justify-content: space-between;
    

    @media screen and (max-width: 767px) {
      flex-direction: column;
    }
  }

  @media screen and (min-width: 768px) {
      height: 100%;
      position: static;
      display: flex;
      padding: 0;
      margin-left: 87px;
      justify-content: space-between;

    &.is-open {
      display: flex;
    }
  }
  @media screen and (min-width: 1200px) {
      margin-left: 92px;
  }
}
.nav-list {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.02em;


  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    gap: 50px;
    align-items: center;

    font-size: 14px;
    line-height: 1.14;
  }
  &--mobile {
    @media screen and (max-width: 767px) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 32px;
    }
  }
  &__item {
    &:focus {
      color: $blue-color;
      font-size: 33px;
    }
  }
  &__link {
    @include transition(color);
    color: inherit;
    position: relative;

    &:hover,
    &:focus {
      color: $blue-color;
    }
    &--active {
      color: $blue-color;

      @media screen and (min-width: 768px) {
        &::after {
          content: "";
          width: 100%;
          height: 4px;
          position: absolute;
          left: 50%;
          bottom: -32px;
  
          border-radius: 4px;
          background-color: $blue-color;
  
          transform: translateX(-50%);
        }
      }
    }
  }
}
.menu-wrap {
  @media screen and (min-width: 768px) {
    display: flex;
  }
}