@use "../utils/variables" as *;

.logo {
  font-size: 26px;
  font-family: Raleway;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: $blue-color;
  

  &__text{
    &--header {
      color: #000000;
    }
    &--footer {
      color: $white-color;
    }
  }
}